#general{
	background-color: #155316;
	width: 630px;
	height: 340px;
	position: relative;
	left: 50%;
	margin-left: -315px;
	top: 50px;
	padding: 15px;
	-moz-border-radius: 7px;
	border-radius: px;
	-webkit-border-radius: 7px;
}
#marco_1{
	background-color: #F9FBFA;
	width: 600px;
	height: 305px;
	padding: 15px;
	-moz-border-radius: 7px;
	border-radius: px;
	-webkit-border-radius: 7px;
}
.campos{
	background-color: green;
	position: relative;
	width: 600px;
	height: 50px;	
}

#cam_0{
	background-color: #f2eaa0;
	height: 40px;
	text-align: center;
	font-family: Cambria;
	font-size: 22px;
	font-style: italic;
	border-left-style: solid;
	border-left-color: #8a8a8a;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #8a8a8a;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #8a8a8a;
	border-top-width: 1px;
}
#cam_1{
	background-color: #F9FBFA;
	height: 35px;
	font-family: Calibri;
	font-size: 20px;
	border-left-style: solid;
	border-left-color: #8a8a8a;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #8a8a8a;
	border-right-width: 1px;
}
#cam_2{
	background-color: #eaeaea;
	height: 40px;
	font-family: Calibri;
	font-size: 20px;
	color: #e33f00;
	border-left-style: solid;
	border-left-color: #8a8a8a;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #8a8a8a;
	border-right-width: 1px;
}

.texto_1{
	padding: 15px;
}
.texto_2{
	margin-left: 15px;
	margin-top: 15px;
}

#login input[type='text'], input[type='password']{
	background-color: #F9FBFA;
	width: 250px;
	height: 25px;
	border-color: #8a8a8a;
	border-style: solid;
	border-width: 3px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	margin: 5px;
	margin-left: 10px;
	font-size: 18px;
}
#login input[type='submit']{
	background-color: #155316;
	width: 200px;
	height: 30px;
	border-color: #8a8a8a;
	border-style: solid;
	border-width: 3px;
	margin-left: 33%;
	margin-top: 3px;
	font-family: Calibri;
	font-size: 20px;
	color: white;
}